
body{
    background-color: rgb(199, 199, 199);
}
h1{
    background-color: rgb(40, 37, 37);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: white;
    height: 60px;
    line-height: 60px;
}
#container{
    display: flex;
    padding: 50px;
    height: 400px;
    justify-content: space-evenly;
    font-family: sans-serif;
}

.forms{
    padding: 50px;
    border: 2px solid black;
    padding-left: 70px;
    padding-right: 70px;
    font-family: sans-serif;
    width: 170px;

}

input{
    width: 100%;
    clear: both;
    }
option{
font-size: 15px;
}

select{
font-size: 15px;
}
label{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;

}

button{
    cursor: pointer;
}

table,th{
  border: 2px solid black; 
  border-collapse: collapse;
  background-color: white;
  font-family: sans-serif;
}

td, tr
{
    width: 120px;
    text-align: center;
    border: 2px solid black; 
    border-collapse: collapse;
    font-family: sans-serif;
}

option{
    height : 300px;
    width: fit-content;
}

.num {
width:90px;
}

.modName{
width:250px;
}

#registerButton{
text-align:right;
font-family: Georgia, 'Times New Roman', Times, serif;
color: black;
}

#registration{
color: black;
font-weight: bold;
}