{%extends 'base.html'%}
{% load static%}
{%block title%}Register{%endblock%}
{%block content%}
<div id="container">
    <div id="register" class="forms">
        <p> Register- </p>
        <hr>
        <form method="post" action="/register/">
            <br>
            <label for='username'>Username- </label> <br>
            <input id='username' type='text' name ='username'><br>
            <label for='email'>Email- </label> <br>
            <input id='email' type='email' name ='email'><br>
            <label for='password'>Password-  </label> <br>
            <input id='password' type='password' name ='password'><br>
            <br>
            <button type="submit">register</button>
        </form>
        {%for message in messages%}
        <p>{{message}}</p>
        {%endfor%}
    </div>
</div>
{%endblock%}